body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #005f73;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background: #005f73;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Table Styling */
#tafsirTable {
    width: 100%;
    border-collapse: collapse;
}

#tafsirTable th, #tafsirTable td {
    padding: 10px;
    text-align: left;
}

#tafsirTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tafsirTable th {
    background-color: #005f73;
    color: #fff;
}

#tafsirTable td {
    border-bottom: 1px solid #ddd;
}

/* Optional: Table Hover Effect */
#tafsirTable tr:hover {
    background-color: #eaeaea;
}