<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amharic Quran Tafsir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>ቁርዓን የሰው ልጆች ከምናስበው በላይ የሆነ ቁልፍ የሂወት መሳሪያ ነው።</h1>
        <p>በጥልቀት የተተነተነ የአህለሱና ወልጀምዓ አሽዓሪያ ማቱሪዲያ የቁርዓን ተፍሲር። <br>በሸህ አደም ሰኢድ</p>
    </header>

    <h1>Amharic Quran Tafsir</h1>

    <label for="juzSelect">Select Juz:</label>
    <select id="juzSelect">
        <option value="">Select Juz</option>
        {% for juz in juz_data %}
            <option value="{{ juz['id'] }}">{{ juz['Juz_name'] }}</option>
        {% endfor %}
    </select>

    <label for="surahSelect">Select Surah:</label>
    <select id="surahSelect">
        <option value="">Select Surah</option>
        {% for surah in surahs %}
            <option value="{{ surah['id'] }}">{{ surah['name'] }}</option>
        {% endfor %}
    </select>

    <div id="tafsirContainer">
        <table id="tafsirTable">
            <thead>
                <tr>
                    <th>Surah Name</th>
                    <th>Ayah Number</th>
                    <th>Arabic Text</th>
                    <th>Amharic Translation</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be inserted dynamically here -->
            </tbody>
        </table>
    </div>

    <footer>
        <p>&copy; 2025 Amharic Quran Tafsir | All Rights Reserved</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
